.appLogo {
    width: 111px;
    height: 36px; 
    background-image: url(appLogo.png);
    background-repeat: no-repeat;
    position:relative;
    top:4px;
}

.appLogoContainer {
    width:500px;
    height:36px;
    display:block;
    
    background-image:url(slogan.png);
    background-repeat:no-repeat;
    background-position:185px 6px;
}

.item.default {
  padding: 0px;
}

ul.fields, em.time {
#  font-size: 8px;
  line-height: 0em;
}

em.time {
  display:none;
}

.EventsViewer .default .actions {
  height: 10px;
  line-height: 12px;
}

.EventsViewer a.actions > .splButtonIcon {
  margin-top: 0px; /* margin to top of event row */
  height: 10px;
  width: 10px;
}

.EventsViewer .default .col2, .EventsViewer .default .col1 {
  padding-top: 0px;
}

/* .Events is the Sideview-Utils endless scrolling events viewer */
.Events .default .actions { /* what does this affect? */
  border: 0px;
  background-color: #fff;
  background-position: -3px -323px;
  padding: 0px;
}

.Events .default .col2, .EventsViewer .default .col1 { /* what does this affect? */
  padding-top: 0px;
}

.Events .default td {
  padding: 1px; /* padding between workflow action pulldown and event display */
}	

ol li {
  margin-bottom: 0px;
}



# This is specific to Chama Heat Map grid.  Information is fed from application.js
.SimpleResultsTable td.Normal  {
    background-color:#00bbff;
    font-color: black;
    font-weight: bold;
    border-style: solid:
    border-width: 5px;
    border-color: black;
}

.SimpleResultsTable td.NormalHigh  {
    background-color:#ffff00;
    font-color: black;
    font-weight: bold;
    border-style: solid:
    border-width: 5px;
    border-color: black;
}


.SimpleResultsTable td.Warning {
    background-color:#ff6600;
    font-color: black;
    font-weight: bold;
    border-style: solid:
    border-width: 5px;
    border-color: black;
}

.SimpleResultsTable td.Critical    {
    background-color:#ff0000;
    font-color: black;
    font-weight: bold;
    border-style: solid:
    border-width: 5px;
    border-color: black;
}
# End of Chama Heat Map grid specific data