.item.default {
  padding: 0px;
}

ul.fields, em.time {
  display:none;
}

.EventsViewer .default .actions {
  -moz-border-radius: 1px;
  border: 0px;
  background-color: #fff;
  background-position: -3px -323px;
  padding: 2px;
}

.EventsViewer .default .col2, .EventsViewer .default .col1 {
  padding-top: 0px;
}

.EventsViewer .default td {
  padding: 0px;
}	
